<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="forgotPasswordCredentials" (ngSubmit)="recovery()">
    <ion-list no-margin>
      <ion-item no-padding style="border-top: none;">
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="email" [(ngModel)]="forgotPasswordCredentials.email"></ion-input>
      </ion-item>
    </ion-list>
    <br /><br />
    <p *ngIf="email.hasError('required') && email.touched">Email is required</p>
    <p *ngIf="email.hasError('pattern') && email.touched">Invalid email format <i>(youremail@domain)</i></p>
    <br />
    <button ion-button block type="submit" [disabled]="!forgotPasswordCredentials.valid">Reset Password</button>
  </form>
</ion-content>
