<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="parents.length < 1">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left *ngIf="parents.length > 0">
      <button ion-button icon-only (click)="upToParent(parents)">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ current.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <input type="hidden" [(ngModel)]="current.id" />
  <input type="hidden" [(ngModel)]="current.title" />
  <ion-list>
    <ion-item (click)="openDetail(genre.id, genre.title, genre.isFirst, current)" *ngFor="let genre of pages">
      <ion-icon ios="ios-folder" md="md-folder"></ion-icon>&nbsp;
      {{ genre.title }}
      <ion-icon item-right ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
